{% extends 'strappy/base.html' %}
{% load socialaccount %}

{% block content %}
<div class="container">
    <h1>Welcome to Strappy</h1>

    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}</p>
    {% else %}
        <a href="{% provider_login_url 'github' %}">Sign Up</a>
    {% endif %}

    <div class="row">
        {% for rocket in rockets %}
        <div class="col-6 col-lg-4">
            <div class="card">
                {% if rocket.image %}
                <img src="{{ rocket.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h1 class="card-title">{{ rocket }}</h1>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
